body {
	background-color: #B8DFE6;
	background-image: url(/img/bg.jpg);
	background-repeat: no-repeat;
}

.page {
	background-color: #fff;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

h1 span.label {
	font-size: 30px;
	padding: 1px 7px 1px;
	line-height: 30px;
}

.menu {
	margin-top: 2em;
	margin-bottom: .8em;
}

.survey-pair:hover {
	background-color: #eef;
}

.deceased {
	text-decoration: line-through;
}

.sortable-row {
	background-color: #fff;
	padding-top:11px;
	padding-right: 10px;
	padding-left: 10px;
}

.icon-move {
	font-size: 25px;
	margin-top: 6px;
}

label.required:after {
    content: " *";
    color: red;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    box-shadow: none;
}

.right {
    text-align: right;
}

.chosen-container {
    margin-bottom:10px;
}

.metric {
    margin-top: 20px;
    line-height: 100%;
}

.metric-large {
    font-size: 63px;
}

.metric table {
    width: 100%;
}

.metric table td,
.metric table th {
    padding: 5px 10px;
}

.metric table thead tr {
    border-bottom: 2px solid #333;
}

.metric table tbody tr {
    border-bottom: 1px solid #aaa;
}

.metric table th {
    font-weight: bold;
}

.metric table .row-label {
    font-weight: bold;
}

.metric table .row-int {
    text-align: right;
    padding-right: 40px;
}

@media (min-width: 900px) {
    td.areaName {
        white-space: nowrap;
    }
}


